<% provide(:title, "Posts") %>
<center><h1>Posts</h1></center>

<% @posts.each do |post| %>
<div class="row">
  <div class="col-md-2 col-md-offset-4">


<div class="box">
  <%= post.body %>
  <% if logged_in? %>
  <hr>
  <%= post.user.name %>



<% end %>
</div>
</div>
</div>
<% end %>

<center><%= button_to "New Post", post_path, :method => :get %></center>
