<% provide(:title, "New Post") %>
<h1>New Posts</h1>
<%= form_for(@post, url: post_path) do |f| %>
  Post:<br>  <%= f.text_field :body, placeholder: "New Post" %><br>
  <%= f.submit "Submit" %><br>
<% end %>
