@import "bootstrap-sprockets";
@import "bootstrap";

.box {
  width: 300px;
  border: 2px solid green;
  padding: 10px;
  margin: 25px;

}

.submit {
  margin-top: 20px;
}
body {
  padding-top: 60px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid grey;
  color: grey;
  a {
    color: $gray;
    &:hover {
      color: blue;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
